@model List<Domain.Entities.Constant>
@{
    List<string> consts = new List<string>
    {
        "Главная: количество публикаций",
        "Главная: меню развернуто",
        "Общие: ссылка на регистрацию",
        "Общие: ссылка на каталог",
        "Общие: URL сайта",
        "Общие: имя домена",
        "Публикации: показывать правую панель",
        "Рассылки: настройки почтового ящика"
    };
}

<div id="ConstantList">
    @if(consts.Except(Model.Select(m => m.Name)).Count() > 0)
    {
        @Html.Raw("Добавить константы:");
    }

    <div class="col-lg-12" style="margin-bottom:15px;font-size:0.9em;">
        @foreach (string c in consts.Except(Model.Select(m => m.Name)))
        {
            <span style="margin-left:20px;">@c</span>
            <br />
         }
    </div>

    @foreach (var m in Model)
    {
        using (Ajax.BeginForm("ConstantSave", "settings", new AjaxOptions
        {
            HttpMethod = "post",
            OnComplete = "onCompleteUpdate('Settings','ConstantList')",
            InsertionMode = System.Web.Mvc.Ajax.InsertionMode.ReplaceWith,
            LoadingElementId = "progr"
        }))
        {
            if (@m.Name == "Рассылки: настройки почтового ящика")
            {
                <div class="col-lg-12" style="font-size:0.9em;">
                    Формат записи: [e-mail];[имя отправителя];[пароль];[сервер];[порт];[ssl (1/0)]. Без [ ] и пробелов.
                </div>
            }
            <div class="col-lg-12 no-padding">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(con => m.Name, new { @class = "form-control", maxlength = "250" })
                        @Html.ValidationMessageFor(con => m.Name)
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        @Html.TextBoxFor(con => m.Value, new { @class = "form-control", maxlength = "250" })
                        @Html.ValidationMessageFor(con => m.Value)
                    </div>
                </div>
                <div class="col-lg-2">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(con => m.Id)
                    <button type="submit" name="action" value="ConstantSave" class="btn btn-success" title="Сохранить">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="submit" name="action" value="ConstantDelete" class="btn btn-link" title="Удалить">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
               
            </div>
        }
    }
</div>