@model IEnumerable<WebUI.Models.UserEdit>

<div id="UserList">

    @foreach (WebUI.Models.UserEdit u in Model)
    {
        string id = @u.Id.ToString().Replace("-", "");

        <div class="col-lg-12" style="border-top:1px solid #F3F3F3">
            <div class="col-lg-1" style="padding-top:5px;">
                @if (u.LockoutEndDateUtc != null && u.LockoutEndDateUtc > DateTime.UtcNow)
                {
                    <i class="fa fa-user-times" style="color:red;"></i>
                }
                else
                {
                    <i class="fa fa-user" style="color:#369;"></i>
                }
            </div>
            <div class="col-lg-4" style="padding-top:5px;">
                @u.UserName
            </div>
            <div class="col-lg-4" style="padding-top:5px;">
                @u.Email
            </div>
            <div class="col-lg-1">
                <button type="submit" id="@{@id}" title="Редактировать" class="btn btn-link btn-edit">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-12" id="div@{@id}" style="display:none;margin:5px 0;background-color:#f3f3f3;padding:10px 0;">
            @using (Ajax.BeginForm("UserSave", "settings", new AjaxOptions
            {
                HttpMethod = "post",
                UpdateTargetId = "UserList",
                InsertionMode = System.Web.Mvc.Ajax.InsertionMode.ReplaceWith,
                LoadingElementId = "progr"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(c => u.Id)

                <div class="col-lg-12 no-padding">
                    <div class="col-lg-6 no-padding">
                        <div class="form-group">
                            <div class="col-lg-4" style="padding:7px 0 0 0;text-align:right;">
                                @Html.LabelFor(c => u.UserName, new { @class = "label-normal label-sm" })
                            </div>
                            <div class="col-lg-8" style="margin-bottom:7px;">
                                @Html.TextBoxFor(c => u.UserName, new { @class = "form-control" })
                                <span class="error-text">
                                    @Html.ValidationMessageFor(c => u.UserName)
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" style="padding:7px 0 0 0;text-align:right;">
                            @Html.LabelFor(c => u.Email, new { @class = "label-normal label-sm" })
                        </div>
                        <div class="col-lg-8" style="margin-bottom:7px;">
                            @Html.TextBoxFor(c => u.Email, new { @class = "form-control" })
                            <span class="error-text">
                                @Html.ValidationMessageFor(c => u.Email)
                            </span>
                        </div>
                        <div class="col-lg-12" style="margin-bottom:7px;padding-left:30px;">
                            <div class="checkbox" style="margin-top:3px;">
                                @Html.CheckBoxFor(c => u.LockoutEnabled, new { @id = "loc" + u.Id.ToString().Replace("-", "") })
                                <label for="loc@{@id}" class="label-normal label-sm">
                                    Разрешена блокировка
                                </label>
                                @*@Html.LabelFor(c => m.LockoutEnabled, new { @class = "label-normal" })*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12 no-padding" style="margin-bottom:7px;">
                            Права
                            <div class="col-lg-12">
                                @foreach (var item in u.RolesList)
                                {
                                    <div class="col-lg-6">
                                        <div class="checkbox" style="margin:2px 0;">
                                            <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" id="@item.Value@id" />
                                            <label for="@item.Value@id">
                                                @item.Value
                                            </label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" name="action" value="UserSave" class="btn btn-info btn-sm" title="Сохранить">
                        Восстановить пароль
                    </button>
                    @if (u.LockoutEndDateUtc != null && u.LockoutEndDateUtc > DateTime.UtcNow)
                    {
                        <button type="submit" name="action" value="UserUnLock" class="btn btn-primary btn-sm" title="Сохранить">
                            Разблокировать
                        </button>
                    }
                    else
                    {
                        <button type="submit" name="action" value="UserLock" class="btn btn-primary btn-sm" title="Сохранить">
                            Заблокировать
                        </button>
                    }
                    <button type="submit" name="action" value="UserDelete" class="btn btn-link btn-sm pull-right" title="Удалить">
                        Удалить
                    </button>
                    <button type="submit" name="action" value="UserSave" class="btn btn-success btn-sm pull-right" title="Сохранить">
                        Сохранить
                    </button>
                </div>
    }
        </div>
    }
    <div class="col-lg-12" style="border-top:1px solid #F3F3F3"></div>
</div>

<script>
    $(".btn-edit").click(function () {
        $('#div' + this.id).toggle('fast');
    });
</script>