<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/css/site.min.css">

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script src="~/lib/js/jquery.min.js"></script>
    }

    <meta property="og:site_name" content="Baeroff.com" />
    <meta property="og:locale" content="ru_RU" />

    @Html.Raw(ViewBag.OgImage)
    @Html.Raw(ViewBag.OgType)
    @Html.Raw(ViewBag.OgUrl)
    @Html.Raw(ViewBag.OgPublishedTime)
    @Html.Raw(ViewBag.OgTitle)
    @Html.Raw(ViewBag.OgDescription)

    @Html.Raw(ViewBag.TwCard)
    @Html.Raw(ViewBag.TwTitle)
    @Html.Raw(ViewBag.TwDescription)
    @Html.Raw(ViewBag.TwImage)
    @Html.Raw(ViewBag.TwDomain)

</head>
<body>
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        <div class="row" style="background-color:#FFF;padding-top:15px;">
            <div class="side-panel">
                <div class="side-menu">
                    @Html.Action("SideMenu", "Home")
                </div>
            </div>
            <div class="container-fluid">
                <div class="side-body" style="min-height:760px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-4">
                    <span>
                        Информация
                    </span>
                    <ul>
                        <li>О нас</li>
                        <li><a href="">О компании</a></li>
                        <li><a href="/home/register">Получить скидку</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <span>
                        Продукция
                    </span>
                    <ul>
                        <li><a href="">Каталог продукции</a></li>
                        <li><a href="">Маркетинг-план компании</a></li>
                        <li><a href="">Магазины TianDe</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <span>
                        Компания TianDe
                    </span>
                    <ul>
                        <li><a rel="nofollow" href="http://tiande.ru" target="_blank">Официальный сайт компании TianDe</a></li>
                        <li><a href="http://www.tiande-online.ru" rel="nofollow" target="_blank">Командный сайт Ламары и Игоря Жабиных</a></li>
                        <li><a href="http://www.e-tiande.by" target="_blank">Интернет-магазин в Беларуси</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 cr">
                &copy; Copyright @DateTime.Now.Year <a href="mailto:aleksandr.st.novikov@gmail.com" title="E-mail: aleksandr.st.novikov@gmail.com">Novikov</a>
</div>
        </footer>
    </div>

    <script src="~/lib/js/site.min.js"></script>

    @*@if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script>
            $(document).ready(function () {
                $(".side-panel").sticky({ topSpacing: 15, zi: 1 });
            });
        </script>
    }*@
</body>
</html>
