<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/css/site.min.css">

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script src="~/lib/js/jquery.min.js"></script>
    }

    <meta property="og:site_name" content="Baeroff.com" />
    <meta property="og:locale" content="ru_RU" />

    @Html.Raw(ViewBag.OgImage)
    @Html.Raw(ViewBag.OgType)
    @Html.Raw(ViewBag.OgUrl)
    @Html.Raw(ViewBag.OgPublishedTime)
    @Html.Raw(ViewBag.OgTitle)
    @Html.Raw(ViewBag.OgDescription)

    @Html.Raw(ViewBag.TwCard)
    @Html.Raw(ViewBag.TwTitle)
    @Html.Raw(ViewBag.TwDescription)
    @Html.Raw(ViewBag.TwImage)
    @Html.Raw(ViewBag.TwDomain)

</head>
<body style="padding:0;background-color:#fefefe;">
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        <div class="row" style="background-color:#FFF;padding-top:15px;">
            <div class="side-panel">
                <div class="side-menu">
                    @Html.Action("SideMenu", "Home")
                </div>
            </div>
            <div class="container-fluid">
                <div class="side-body" style="min-height:760px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer style="min-height:100px;background-color:#444;color:#ccc;">
            <div class="col-lg-3">
                <span style="color:#ddd;padding:7px;display:block;border-bottom:1px solid #5d5d5d;margin-bottom:5px;">
                    Информация
                </span>
                <ul style="font-size:0.8em;list-style-type: none;padding-left:7px;line-height:1.5em;">
                    <li>О нас</li>
                    <li>О компании</li>
                    <li>Получить скидку</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span style="color:#ddd;padding:7px;display:block;border-bottom:1px solid #5d5d5d;margin-bottom:5px;">
                    Продукция
                </span>
                <ul style="font-size:0.8em;list-style-type: none;padding-left:7px;line-height:1.5em;">
                    <li>Каталог продукции</li>
                    <li>Маркетинг-план компании</li>
                    <li>Магазины TianDe</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <span style="color:#ddd;padding:7px;display:block;border-bottom:1px solid #5d5d5d;margin-bottom:5px;">
                    Компания TianDe
                </span>
                <ul style="font-size:0.8em;list-style-type: none;padding-left:7px;line-height:1.5em;">
                    <li>Официальный сайт компании TianDe</li>
                    <li>Командный сайт Ламары и Игоря Жабиных</li>
                    <li>Интернет-магазин в Беларуси</li>
                </ul>
            </div>
            <div class="col-lg-3">

            </div>
            @*<div class="col-lg-12" style="background-color:#222;color:#ddd;font-size:0.9em;text-align:center;margin-top:90px;padding:2px;">
                &copy; @DateTime.Now.Year - Novikov
            </div>*@
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>

    <script src="~/lib/js/site.min.js"></script>

    @*@if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script>
            $(document).ready(function () {
                $(".side-panel").sticky({ topSpacing: 15, zi: 1 });
            });
        </script>
    }*@
</body>
</html>
