<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/css/site.min.css">

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script src="~/lib/js/jquery.min.js"></script>
    }

    <meta property="og:site_name" content="Baeroff.com" />
    <meta property="og:locale" content="ru_RU" />

    @Html.Raw(ViewBag.OgImage)
    @Html.Raw(ViewBag.OgType)
    @Html.Raw(ViewBag.OgUrl)
    @Html.Raw(ViewBag.OgPublishedTime)
    @Html.Raw(ViewBag.OgTitle)
    @Html.Raw(ViewBag.OgDescription)

    @Html.Raw(ViewBag.TwCard)
    @Html.Raw(ViewBag.TwTitle)
    @Html.Raw(ViewBag.TwDescription)
    @Html.Raw(ViewBag.TwImage)
    @Html.Raw(ViewBag.TwDomain)

</head>
<body style="padding:0;background-color:#fefefe;">
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        <div class="row" style="background-color:#FFF;padding-top:15px;">
            <div class="side-panel">
                <div class="side-menu">
                    @Html.Action("SideMenu", "Home")
                </div>
            </div>
            <div class="container-fluid">
                <div class="side-body" style="min-height:760px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer style="height:100px;background-color:#999;">
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>

    <script src="~/lib/js/site.min.js"></script>

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script>
            $(document).ready(function () {
                $(".side-panel").sticky({ topSpacing: 15, zi: 1 });
            });
        </script>
    }
</body>
</html>
