<!DOCTYPE html>
<html>
<head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5886303956221839",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/lib/css/site.min.css">

    @if (String.IsNullOrEmpty(@ViewBag.Description))
    {
        <meta name="description" content="Baeroff.com - командный сайт Рубиновых директоров корпорации TianDe Татьяны и Олега Баеровых." />
    }
    else
    {
        <meta name="description" content="@{@ViewBag.Description;}" />
    }
    @if (String.IsNullOrEmpty(@ViewBag.Title))
    {
        <title>Baeroff.com - командный сайт Рубиновых директоров корпорации TianDe Татьяны и Олега Баеровых</title>
    }
    else
    {
        <title>@ViewBag.Title :: Baeroff.com - командный сайт Рубиновых директоров корпорации TianDe Татьяны и Олега Баеровых</title>
    }

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script src="@Url.Content("~/lib/js/jquery.min.js")"></script>
    }
    <meta property="og:site_name" content="Baeroff.com" />
    <meta property="og:locale" content="ru_RU" />

    @Html.Raw(ViewBag.OgImage)
    @Html.Raw(ViewBag.OgType)
    @Html.Raw(ViewBag.OgUrl)
    @Html.Raw(ViewBag.OgPublishedTime)
    @Html.Raw(ViewBag.OgTitle)
    @Html.Raw(ViewBag.OgDescription)

    @Html.Raw(ViewBag.TwCard)
    @Html.Raw(ViewBag.TwTitle)
    @Html.Raw(ViewBag.TwDescription)
    @Html.Raw(ViewBag.TwImage)
    @Html.Raw(ViewBag.TwDomain)

    @{
        string referral = "referral=@@779a6396bf1ef19fa17403fe5e9b872b";
    }

</head>
<body>
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        <div class="row" style="background-color:#FFF;padding-top:15px;">
            <div class="col-lg-3" style="padding-left:0;" id="left-panel">
                <div id="left-panel-sticky">
                    @Html.Action("SideMenu", "Home")
                </div>
            </div>
            <div class="col-lg-9 padding-side" id="body-fluid">
                <div style="min-height:760px;" id="body-fluid-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <span>
                        Информация
                    </span>
                    <ul>
                        @*<li>О нас</li>*@
                        <li><a href="/home/aboutcompany">О компании TianDe</a></li>
                        <li><a href="/home/register">Получить скидку</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <span>
                        Продукция
                    </span>
                    <ul>
                        <li><a href="https://tiande.ru/web/catalog/?pny=by&@{@referral}">Каталог продукции</a></li>
                        <li><a href="/articles/article/marketing-plan-kompanii-tiande">Маркетинг-план компании</a></li>
                        <li><a href="/articles/article/magaziny-servisnye-tsentry-tiande">Магазины TianDe</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <span>
                        Компания TianDe
                    </span>
                    <ul>
                        <li><a rel="nofollow" href="https://tiande.ru/?@{@referral}" target="_blank">Официальный сайт компании TianDe</a></li>
                        <li><a href="http://www.tiande-online.ru" rel="nofollow" target="_blank">Командный сайт Ламары и Игоря Жабиных</a></li>
                        <li><a href="http://www.e-tiande.by" target="_blank">Интернет-магазин в Беларуси</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 cr">
                &copy; Copyright @DateTime.Now.Year <a href="mailto:aleksandr.st.novikov@gmail.com" title="E-mail: aleksandr.st.novikov@gmail.com">Novikov</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/js/site.min.js"></script>

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script>
            var tClass = function (param) {
                if(param)
                {
                    $("#left-panel").removeClass("col-lg-3").addClass("side-menu");
                    $("#body-fluid").removeClass("col-lg-9").removeClass("padding-side").addClass("container-fluid");
                    $("#body-fluid-inner").addClass("side-body");
                    $("#index-main").css("padding-left", "15");
                } else {
                    $("#left-panel").removeClass("side-menu").addClass("col-lg-3");
                    $("#body-fluid").removeClass("container-fluid").addClass("col-lg-9").addClass("padding-side");
                    $("#body-fluid-inner").removeClass("side-body");
                    $("#index-main").css("padding-left","0");
                }
            };
            $(document).ready(function () {

                if ($(window).width() >= 1200) {
                    tClass(false);
                    var fHeight = $("footer").outerHeight() + 50;
                    $("#right-panel-sticky").sticky({ topSpacing: 15, bottomSpacing: fHeight, zIndex: 10 });
                    $("#left-panel-sticky").sticky({ topSpacing: 15, bottomSpacing: fHeight, zIndex: 10 });
                } else {
                    tClass(true);
                }
            });
            $(window).resize(function () {
                if ($(window).width() >= 1200) {
                    tClass(false);
                    var fHeight = $("footer").outerHeight() + 50;
                    $("#right-panel-sticky").sticky({ topSpacing: 15, bottomSpacing: fHeight, zIndex: 10 });
                    $("#left-panel-sticky").sticky({ topSpacing: 15, bottomSpacing: fHeight, zIndex: 10 });
                } else {
                    tClass(true);
                }
            })
        </script>
    }

    @Html.Partial("_ScriptYaM")

</body>
</html>

