<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/css/site.min.css">

    @if (!@Request.Url.AbsoluteUri.Contains("editarticle"))
    {
        <script src="~/lib/js/jquery.min.js"></script>
    }

</head>
<body style="padding:0;background-color:#fefefe;">
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <div class="container body-content">
        <div class="row" style="background-color:#FFF;padding-top:15px;">
            <div class="side-menu">
                @Html.Action("SideMenu", "Home")
            </div>
            <div class="container-fluid">
                <div class="side-body" style="min-height:750px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer style="height:200px;background-color:#999;">
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>

    <script src="~/lib/js/site.min.js"></script>
</body>
</html>
