@model Domain.Entities.Article

<link rel="stylesheet" type="text/css" href="~/lib/css/kendo.min.css">
<script src="~/lib/js/kendo.all.min.js"></script>
<script src="~/lib/js/kendo.min.js"></script>

@{
    ViewBag.Title = "Публикация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="span-title">Публикация</span>

<div class="col-lg-12 no-padding" style="min-height:700px;">

    @using (Html.BeginForm("EditArticle", "Articles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-lg-12 no-padding">
            <div class="col-lg-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.IsVisible)
                    @Html.LabelFor(m => m.IsVisible, new { @class = "label-normal" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-5" style="padding:7px 10px;text-align:right;">
                    @Html.LabelFor(m => m.DatePublish, new { @class = "label-normal label-sm" })
                </div>
                <div class="col-lg-7 no-padding" style="margin-bottom:7px;">
                    @Html.TextBox("DatePublish", Model != null ? Model.DatePublish != null ? ((DateTime)Model.DatePublish).ToString("yyyy-MM-ddTHH:mm") : null : null, new { @class = "form-control", type = "datetime-local" })
                    <span class="error-text">
                        @Html.ValidationMessageFor(m => m.DatePublish)
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <hr />
        </div>


        <h4>Заголовок</h4>
        <div class="col-lg-12 no-padding">
            <div class="col-lg-2" style="padding:7px 10px;text-align:right;">
                @Html.LabelFor(m => m.Title, new { @class = "label-normal label-sm" })
            </div>
            <div class="col-lg-10 no-padding" style="margin-bottom:7px;">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", maxlength = "300" })
                <span class="error-text">
                    @Html.ValidationMessageFor(m => m.Title)
                </span>
            </div>
        </div>

        @(Html.Kendo().EditorFor(m => m.TextMain)
          .HtmlAttributes(new { style = "width: 100%;height:300px" })
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline()
              .JustifyLeft().JustifyCenter().JustifyRight()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .InsertFile()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontSize()
              .FontColor()
              .CleanFormatting()
              )
          .ImageBrowser(imageBrowser => imageBrowser
              .Image("~/Content/UserFiles/Images/{0}")
              .Read("Read", "ImageBrowser")
              .Create("Create", "ImageBrowser")
              .Destroy("Destroy", "ImageBrowser")
              .Upload("Upload", "ImageBrowser")
              .Thumbnail("Thumbnail", "ImageBrowser"))
          .FileBrowser(fileBrowser => fileBrowser
             .File("~/Content/UserFiles/Images/{0}")
             .Read("Read", "FileBrowser")
             .Create("Create", "FileBrowser")
             .Destroy("Destroy", "FileBrowser")
             .Upload("Upload", "FileBrowser"))
        )
        <span class="error-text">
            @Html.ValidationMessageFor(m => m.TextMain)
        </span>

        <div class="col-lg-12">
            <hr />
        </div>
        <h4>Основное содержание</h4>
        @(Html.Kendo().EditorFor(m => m.TextArticle)
          .HtmlAttributes(new { style = "width:100%;height:600px" })
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline()
              .JustifyLeft().JustifyCenter().JustifyRight()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .InsertFile()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontSize()
              .FontColor()
              .Snippets(snippets => snippets
                .Add("Карусель", "{carousel directory=\"/Content/UserFiles/Images/Publishing/...\" numslides=\"4\" extension=\"jpg\"}"))
              .CleanFormatting()
              )
          .ImageBrowser(imageBrowser => imageBrowser
              .Image("~/Content/UserFiles/Images/{0}")
              .Read("Read", "ImageBrowser")
              .Create("Create", "ImageBrowser")
              .Destroy("Destroy", "ImageBrowser")
              .Upload("Upload", "ImageBrowser")
              .Thumbnail("Thumbnail", "ImageBrowser"))
          .FileBrowser(fileBrowser => fileBrowser
             .File("~/Content/UserFiles/Images/{0}")
             .Read("Read", "FileBrowser")
             .Create("Create", "FileBrowser")
             .Destroy("Destroy", "FileBrowser")
             .Upload("Upload", "FileBrowser"))
        )
        <span class="error-text">
            @Html.ValidationMessageFor(m => m.TextArticle)
        </span>

        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12 no-padding">
            <div class="col-lg-12">
                Социальные сети
            </div>
            <div class="col-lg-3" style="padding:7px 10px;text-align:right;">
                @Html.LabelFor(m => m.Descr, new { @class = "label-normal label-sm" })
            </div>
            <div class="col-lg-9 no-padding" style="margin-bottom:7px;">
                @Html.TextBoxFor(m => m.Descr, new { @class = "form-control", maxlength = "500" })
                <span class="error-text">
                    @Html.ValidationMessageFor(m => m.Descr)
                </span>
            </div>
            <div class="col-lg-3" style="padding:7px 10px;text-align:right;">
                @Html.LabelFor(m => m.PictShare, new { @class = "label-normal label-sm" })
            </div>
            <div class="col-lg-9 no-padding" style="margin-bottom:7px;">
                @Html.TextBoxFor(m => m.PictShare, new { @class = "form-control", maxlength = "250" })
                <span class="error-text">
                    @Html.ValidationMessageFor(m => m.PictShare)
                </span>
            </div>
        </div>
        <div class="col-lg-12">
            <hr />
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Сохранить" class="btn btn-danger btn-sm" />
                @if (Model != null && Model.Id != Guid.Empty)
                {
                    @Html.ActionLink("Просмотр", "article", null, new { @Model.Link }, new { @class = "btn btn-default btn-sm", target = "_blank" })
                }
            </div>
        </div>

    }
</div>

<script>
    $('input[maxlength]').maxlength({
        alwaysShow: true
    });
    //$(function () {
    //    $("form").kendoValidator();
    //});
</script>

